// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Meddon|Merriweather+Sans:800|Open+Sans:400,300,700|Open+Sans+Condensed:300");


// Local fonts
@font-face {
    font-family: 'learningcurvedashed';
    src: font-url('learningcurvedashed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



// fonts for body and headers
$body-font: "Open Sans Condensed", "Helvetica", sans-serif;
$headers-font: "Open Sans Condensed", "Helvetica", sans-serif;

$date-font: 'Merriweather Sans', sans-serif;
$weds-font: 'learningcurvedashed', cursive, sans-serif;
