<div class="banner content-wrapper">
  <div class="section-header">
    Ceremony
  </div>

  <div class="section-subheader">
    <%= @ceremony.name %>
  </div>


  <div class="section-header">
    Reception
  </div>
  <div class="section-subheader">
    <%= @reception.name %>
  </div>

<!-- map -->
  <div class="map">
    <%= render 'shared/map' %>
  </div>
</div>
