<div class="banner">
  <%= image_tag("https://res.cloudinary.com/dijz3a59v/image/upload/c_scale,w_1438/v1507013457/ourstory_wcfkvp.jpg") %>
</div>
<div class="banner story content-wrapper">
  Our story began in March 2012 at John Lennon Airport in Liverpool. We were both going back to school in Krakow where we did our Erasmus exchange. After a mutual friend introduced us we realized our seats were very close to each other. Thomas could tell that Julia, a classic nervous flyer, could use some support. A pretty turbulent flight allowed us to get to know each other. Throughout the rest of the semester we became good friends. As summer approached, we learned that we would be interning across the street from each other. After having lunch together every day that summer we both knew it was only a matter of time. When we got back to school for fall semester the rest was history!
</div>
