.tabs-wrapper {
  background-color:#F3F3F3;
}

.tabs {
  display: flex;
  max-width: 300px;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  margin: 0 auto;
}
.tabs a {
  color: black;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}

// phone
.tabs h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}

// tablet
@media (min-width: 768px) {
  .tabs {
    max-width: 500px;
  }
  .tabs h3 {
    font-size: 30px;
  }
}

// laptop
@media (min-width: 995px) {
  .tabs {
    max-width: 700px;
  }
  .tabs h3 {
    font-size: 40px;
  }
}

.tab {
  background: none;
  flex: 1 1 auto;
  text-align: center;
  padding: 0;
  margin: 10px 5px;
  font-weight: lighter;
}

.tab.active {
  background: none;
  color: $red;
}
.tab.active h3 {
  font-weight: bold;
}
.tab-content {
  padding-top: 50px;

}

